<div class="Absolute-Center is-Responsive" ng-controller="loginController">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form name="loginForm">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name='username' placeholder="username" ng-model="loginModel.username" required>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password" name='password' placeholder="password" ng-model="loginModel.password" required>
            </div>
            <div class="form-group">
                <button ng-click="loginModel.login()" class="btn btn-def btn-block">Login</button>
            </div>
        </form>
    </div>
</div>